#body {
	height: auto;
    margin: 0;
}


.bg-image {
  background-image: url(../img/rough-horn-ge477d8ee5_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.custom-bg {
  background-color: #0047AB;
  opacity: 0.8;

}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: white !important;
}

#burger {
	color: white;
}

.container {
  margin-top: 40px;
}


#index-header {
	background-color: #0047AB;
	opacity: 0.8;
	padding: 6px;
	border-radius: 5px 5px;
}

#index-nav-link {
	color: white;
}

#index-info {
	background-color: white;
	padding: 7px;
	opacity: 0.8;
	border-radius: 2px 2px;
}

#index-chapter {
	color: #0047AB;
}



#index-competitions-detail-link {
	color: white;
	background-color: #0047AB;
	padding: 5px;
	text-decoration: none;
	border-radius: 2px 2px;
	transition: 0.6s;
}

#index-competitions-detail-link:hover {
	border-radius: 6px 6px;
}

#index-competitions-info {
	color: #0047AB;
}

#index-news-header {
	color: white;
	background-color: #0047AB;
	border-radius: 5px 5px;
	padding: 5px;
}

#index-news-text {
	color: #0047AB;
}


#editor-table {
	background-color:white;
	opacity: 0.8;
	color: #0047AB;
	border-radius: 5px 5px;
}


#editor-table-header {
	background-color:#0047AB;
	color: white;
}