{% extends 'main/layout.html' %}
{% block body %}
  <div class="center">
	<form method="post" class="card form-control" id="form-shell">
	  {% csrf_token %}
	  <h2>Password Reset Confirm</h2>

	  {% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}


	  <div id="btn-p">
	    <button type="submit" class="btn btn-primary" id="form-button">Сброс пароля</button>
	  </div>
	</form>
  </div>
{% endblock %}