{% extends 'main/layout.html' %}

{% block body %}
<div class="center">
  <form method="post" class="card form-control" id="form-shell">
    {% csrf_token %}
    <h2>Password Reset Confirm</h2>

    {% for field in form %}
    <div class="mb-3">
      <label class="form-label">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
      <small class="text-danger">{{ field.errors|striptags }}</small>
      {% endif %}
    </div>
    {% endfor %}

    <div id="btn-p">
      <button type="submit" class="btn btn-primary" id="form-button">Сброс пароля</button>
    </div>
  </form>
</div>
{% endblock %}
