{% extends 'main/layout.html' %}
{% block body %}
  <div class="center">
	  <form method="post" class="card" id="form-shell" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center">Войдите в свой аккаунт</h2>
		{% for field in form %}
	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small>
	        	{% endif %}
		{% endfor %}

		<a value="Login" class="btn btn-primary" id="form-button" href="{% url 'login' %}">login</a>
		<br>
		<p class="text-center">Забыли пароль?<a class="btn btn-primary" id="form-button" href="{%url 'password_reset'%}">Сброс пароля</a></p>
		<p class="text-center">У вас нет аккаунта? <a class="btn btn-primary" id="form-button" href="{%url 'register'%}">Присоединяйся сейчас</a></p>
	</form>
  </div>
{% endblock %}