{% extends 'main/layout.html' %}
{% block title %}о нас{% endblock %}
{% block body %}
  <div id="about-bg">
    <div class="row">
      <div class="col-lg-6">
        <div id="about-header">
          <h1>О системе OnlineregKG</h1>
        </div>
        <hr>
        <div>
          <h4>Что такое OnlineregKG?</h4>
          <div>
            <p>
              Проект onlinereg.kg реализован в рамках сотрудничества IT Академии (г. Кара-Балта) и федерации спортивного ориентирования Кыргызстана в 2023 году. Создатель проекта <a href="https://github.com/tidi18">Дастан Темиров</a> (<a href="https://www.linkedin.com/in/dastan-temirov-21188b281">ссылка на LinkedIn</a>). Мы предоставляем возможность онлайн-регистрации на соревнования по спортивному ориентированию и удобную систему учёта участников соревнований. По вопросам сотрудничества: <a href="mailto:kosvetlanov@gmail.com">kosvetlanov@gmail.com</a> (Константин Светланов)
            </p>
            <hr>
            <div>
              <h4>Контакты Федерации</h4>
            </div>
            <div>
              <p> 
                Федерация спортивного ориентирования КыргызстанаБишкек, ул. Медерова, 42, офис 404
                Президент федерации: Даутов Ильшат Скандерович <a href="mailto:fso_kg@mail.ru">fso_kg@mail.ru</a>
              </p>
            </div>
          </div>
          <hr> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-lg-end">
          <img id="about-logo" src="/static/main/img/home_logo.png" alt="home logo">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
