{% extends 'main/layout.html' %}
{% block title %}о нас{% endblock %}
{% block body %}
  <div id="about-bg">
    <div class="row">
      <div class="col-lg-6">
        <div id="about-header">
          <h1>О системе OnlineregKG</h1>
        </div>
        <hr>
        <div>
          <h4>Что такое OnlineregKG?</h4>
          <div>
            <p>
              OnlineregKg - это
            </p>
            <p>
              возможности
            </p>
          </div>
          <hr> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-lg-end">
          <img id="" src="/static/main/img/home_logo.png" alt="home logo">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
