{% extends 'main/layout.html' %}

{% block title %}Соревнование{% endblock %}

{% block body %}
  <div class="container" id="detail-competition">
    <div id="detail-cmpetitions-header" class="">
      <h2>{{competition.competition_name}}</h2>
      <h5>{{competition.date}}</h5>
    </div>
    <hr>
    <div>
      <p>{{competition.announcement}}</p>
    </div>
    <hr>
    <div>
      <div class="col-lg-3" id="detail-competition-illustration">
        <img class="img-fluid" src="{{ competition.illustration.url }}" alt="Иллюстрация">
      </div>
      <div class="col-md-8">
        <div id="detail-organizer-header">
          <h3>Организаторы</h3>
        </div>
        <div id="detail-organizer-info">
          {% if competition.organizer_name or competition.organizer_last_name %}
            <p>Имя: {{competition.organizer_name}} {{competition.organizer_last_name}}</p>
          {% endif %}
          {% if competition.organizer_email %}
            <p>Email: {{competition.organizer_email}}</p>
          {%endif %}
          {% if competition.organizer_phone %}
            <p>Номер_телефона: {{competition.organizer_phone}}</p>
          {% else %}
            <p>Номер_телефона: Нет информации</p>
          {% endif %}
          {% if competition.organizer_telegram %}
            <p>Telegram: {{competition.organizer_telegram}}</p>
          {% else %}
            <p>Telegram: Нет информации</p>
          {% endif %}
          {% if competition.organizer_whatsapp %}
            <p>WhatsApp: {{competition.organizer_whatsapp}}</p>
          {% else %}
            <p>WhatsApp: Нет информации</p>
          {% endif %}
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr id="detail-members-table">
            <th class="col">Имя</th>
            <th class="col">Фамилия</th>
            <th class="col">Разряд</th>
            <th class="col">Команда</th>
            <th class="col">Дата рождения</th>
            <th class="col">Возрастная группа</th>
          </tr>
        </thead>
        <tbody>
          {% for member in competition.members.all %}
            <tr id="detail-members-table-info">
              <td>{{member.name}}</td>
              <td>{{member.last_name}}</td>
              <td>{{member.discharge}}</td>
              <td>{{member.team}}</td>
              <td>{{member.date_of_birth}}</td>
              <td>{{member.age_group}}</td>
            </tr>
          {% empty %}
            <tr id="detail-members-table-info">
              <td colspan="6">No members found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div>
      <div class="" id="detail-comment-header">
        <h3>Комментарии</h3>
      </div>
      <div id="detail-comment-info">
        <ul>
          {% for comment in competition.comments.all %}
            <li>
              <strong>{{ comment.author }}</strong> :<span style="font-size: 14px;">{{ comment.create_date|date:"d.m H:i" }}</span><br>
              {{comment.text}}
            </li>
          {% empty %}
            <li>No comments found.</li>
          {% endfor %}
        </ul>
      </div>
      <br>
      <div class="comment-form">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary" id="btn-bg" >Отправить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
