{% extends 'main/layout.html' %}
{% block title %}Главное{% endblock %}
{% block body %}
  <div>
    <div id="index-header">
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a id="index-nav-link" class="nav-link active" aria-current="page" href="{% url 'index' %}">Соревнования</a>
        </li>
        <li class="nav-item" id="">
          <a id="index-nav-link" class="nav-link" href="{% url 'news_info' %}">Новости</a>
        </li>
      </ul>
    </div>
    {% if active_link == 'competitions' %}
      <div id="index-info">
        <div id="index-chapter">
          <h1>Календарь</h1>
        </div>
        <hr>
        {% for competition in competitions %}
          <div>
            <div>
              <h6>
                <a id="index-competitions-detail-link" href="{% url 'competition_detail' competition.slug %}">{{ competition.competition_name }}</a>
              </h6>
            </div>
            <div id="index-competitions-info">
              <h6>{{ competition.date }}</h6>
              <h6>{{ competition.state }} {{ competition.region }}</h6>
              <h6>{{ competition.location }}</h6>
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
    {% elif active_link == 'news' %}
    <div id="index-info">
      <div id="index-chapter">
        <h1>Новости</h1>
      </div>
      <hr>
      {% for news_item in news %}
        <div class="">
          <div class="row">
            <div class="col-md-8">
              <div id="index-news-header">
                <h3>{{ news_item.header }}</h3>
                <h5>{{ news_item.date }}</h5>
              </div>
              <br>
              <div id="index-news-text">
                <p>
                  {{ news_item.announcement }}
                </p>
              </div>
              <div id="index-news-text">
                <p>{{ news_item.text }}</p>
              </div>
            </div>
            <div class="col-md-4">
              {% if news_item.photo %}
                <img class="img-fluid" src="{{ news_item.photo.url }}" alt="News Photo">
              {% endif %}
            </div>
          </div>
        </div>
        <hr>
      {% endfor %}
      </div>
      {% endif %}
    </div>
{% endblock %}





