{% extends 'main/layout.html' %}
{% block title %}Главное{% endblock %}
{% block body %}
  <div>
    <div id="index-nav">
      <ul class="nav nav-underline" id="">
        <li class="nav-item" id="index-nav-item">
          <a id="index-link" class="nav-link active" aria-current="page" href="{% url 'index' %}">Соревнования</a>
        </li>
        <li class="nav-item" id="index-nav-item">
          <a id="index-link" class="nav-link" href="{% url 'news_info' %}">Новости</a>
        </li>
      </ul>
    </div>
    {% if active_link == 'competitions' %}
      <div id="index-table-info">
        <div>
          <h1>календарь</h1>
        </div>
        <hr>
        {% for competition in competitions %}
          <div>
            <div>
              <h6>
                <a class="competition-name" id="link-competitions" href="{% url 'competition_detail' competition.slug %}">{{ competition.competition_name }}</a>
              </h6>
            </div>
            <br>
            <div>
              <p>{{ competition.date }}</p>
              <p>{{ competition.state }}</p>
              <p>{{ competition.region }}</p>
              <p>{{ competition.location }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% elif active_link == 'news' %}
      <div id="index-table-info">
        <div>
          <h1>новости</h1>
        </div>
        <hr>
        {% for news_item in news %}
          <div>
            <div id="index-news-title">
              <h3>{{ news_item.header }}</h3>
              <h5>{{news_item.date}}</h5>
            </div>
            <br>
            <div>
              <p>{{ news_item.announcement }}</p>
            </div>
            <br>
            <div>
              {% if news_item.photo %}
                <img src="{{ news_item.photo.url }}" alt="News Photo">
              {% endif %}
            </div>
            <br>
            <div>
              <p>{{ news_item.text }}</p>
            </div>
            <hr>
          </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}





