{% extends 'main/layout.html' %}
{% block title %}Сообщение{% endblock %}
{% block body %}
    <div id="message-become-an-editor">
      <div>
        <h1>
          Сообщение от OnlineregKG
        </h1>
      </div>
      <div>
        <p>Для того чтобы стать редактором вам нужно отправить сообшение администратору через форму обратной связи</p>
        <p>В течении двух суток Администратору добавит вам нужный доступ всего доброго :)</p>   
      </div>
      <div class="d-flex justify-content-start" id="entrance-button">
        <a class="btn btn-primary ml-2" id="form-button" href="{% url 'contact' %}">Форма обратной связи</a>
        <a class="btn btn-primary ml-2" id="form-button" href="{% url 'editor' %}">Уже есть доступ!</a>
      </div>

    </div>
{% endblock %}