{% extends 'main/layout.html' %}
{% block title %}Профиль{% endblock %}
{% block body %}
 <div id="profile">
    <div id="profile-title">
      <h1>Профиль пользователя</h1>
    </div>
    <div id="profile-items">
      {% if profile.photo %}
      <div class="col-lg-4">
        <img class="img-fluid" src="{{ profile.photo.url }}"  alt="Фото профиля">
      </div>
      <div id="profile-button">
        <button onclick="location.href='/change_photo'" class="btn btn-primary" id="form-button">Поменять фото</button>
      </div>
      {% else %}
      <div>
        <p>Фото профиля отсутствует</p>
      </div>
      <div>
        <button onclick="location.href='/change_photo'" class="btn btn-primary" id="form-button">Добавить фото</button>
      </div>
      {% endif %}
      <div>
        <p>Имя пользователя: {{ profile.user.username }}</p>
        <p>Email: {{ profile.user.email }}</p>
        <p>Дата рождения: {{ profile.date_of_birth }}</p> 
      </div>
    </div>
 </div>
{% endblock %}