{% extends 'main/layout.html' %}
{% block title %}Регистрация участников{% endblock %}
{% block body %}
    <h1>Регистрация участника</h1>
    <div class="control-form container-fluid">
        {% if form.abcd_group %}
            <form class="form-control" id="form-shell" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary" id="form-button" type="submit">Отправить</button>
            </form>
        {% else %}
            <form class="form-control" id="form-shell" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary" id="form-button" type="submit">Отправить</button>
            </form>
        {% endif %}
    </div>

    <script>
        var competitionField = document.getElementById('id_competition');
        var form = document.getElementById('form-shell');
        var hasSubmitted = false;

        competitionField.addEventListener('change', function() {
            if (!hasSubmitted) {
                hasSubmitted = true;
                form.submit();
            }
        });

        form.addEventListener('submit', function(event) {
            if (!hasSubmitted) {
                event.preventDefault();
                hasSubmitted = true;
                form.submit();
            } else {
                form.reset();
                hasSubmitted = false;
                event.preventDefault();
                var errorAlert = document.querySelector('.alert-danger');
                if (errorAlert) {
                    errorAlert.remove();
                }
                if (form.checkValidity()) {
                    var errorDiv = document.createElement('div');
                    errorDiv.classList.add('alert', 'alert-danger');
                    errorDiv.innerHTML = '<ul>{% for field in form %}{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}{% endfor %}</ul>';
                    var formContainer = document.querySelector('.control-form');
                    formContainer.insertBefore(errorDiv, form);
                } else {
                    form.submit();
                }
            }
        });
    </script>
{% endblock %}