{% extends 'main/layout.html' %}
{% block title %}Регистрация участников{% endblock %}
{% block body %}
    <h1>Регистрация участника</h1>
    <div class="control-form container-fluid">
        {% if form.abcd_group %}
            <form class="form-control" id="form-shell" method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field_errors in form.errors.values %}
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <p><label for="{{ form.competition.id_for_label }}">Соревнование:</label>
                {{ form.competition }}</p>

                <p><label for="{{ form.name.id_for_label }}">Имя:</label>
                    {{ form.name }}</p>

                <p><label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                {{ form.last_name }}</p>

                <p><label for="{{ form.gender.id_for_label }}">Пол:</label>
                {{ form.gender }}</p>

                <p><label for="{{ form.date_of_birth.id_for_label }}">Дата рождения:</label>
                {{ form.date_of_birth }}</p>

                <p><label for="{{ form.discharge.id_for_label }}">Разряд:</label>
                {{ form.discharge }}</p>

                <p><label for="{{ form.team.id_for_label }}">Команда:</label>
                {{ form.team }}</p>

                <p><label for="{{ form.abcd_group.id_for_label }}">Группа ABCD:</label>
                {{ form.abcd_group }}</p>

                <p><label for="{{ form.captcha.id_for_label }}">Капча:</label>
                {{ form.captcha }}</p>
                <button class="btn btn-primary" id="form-button" type="submit">Отправить</button>
            </form>
        {% else %}
            <form class="form-control" id="form-shell" method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field_errors in form.errors.values %}
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <p><label for="{{ form.competition.id_for_label }}">Соревнование:</label>
                {{ form.competition }}</p>

                <p><label for="{{ form.name.id_for_label }}">Имя:</label>
                {{ form.name }}</p>

                <p><label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                {{ form.last_name }}</p>

                <p><label for="{{ form.gender.id_for_label }}">Пол:</label>
                {{ form.gender }}</p>

                <p><label for="{{ form.date_of_birth.id_for_label }}">Дата рождения:</label>
                {{ form.date_of_birth }}</p>

                <p><label for="{{ form.discharge.id_for_label }}">Разряд:</label>
                {{ form.discharge }}</p>

                <p><label for="{{ form.team.id_for_label }}">Команда:</label>
                {{ form.team }}</p>

                <p><label for="{{ form.captcha.id_for_label }}">Капча:</label>
                {{ form.captcha }}</p>

                <button class="btn btn-primary" id="form-button" type="submit">Отправить</button>
            </form>
        {% endif %}
    </div>

    <script>
        // Получаем поле выбора соревнования
        var competitionField = document.getElementById('id_competition');

        // Добавляем обработчик события изменения поля выбора соревнования
        competitionField.addEventListener('change', function() {
            // Получаем форму
            var form = document.getElementById('form-bg');

            // Отправляем форму
            form.submit();
        });
    </script>
{% endblock %}
